.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.metamask-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.header-img {
  width: 100%;
  object-fit: cover;
}

.ui.large.image,
.ui.large.images .image,
.ui.large.images img,
.ui.large.images svg {
  width: 100%;
  height: 280px;
}

.ui.card,
.ui.cards > .card {
  box-shadow: none;
}

.ui.card > .content,
.ui.cards > .card > .content {
  margin: 0;
  padding: 1em 0;
}

.ui.container {
  width: 1300px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ui.horizontal.segments {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}

.ui.horizontal.segments > .segment {
  border-left: 0;
}

.ui.segment.seg-left {
  text-align: left;
  color: crimson;
}

.ui.segment.seg-right {
  text-align: right;
  color: crimson;
}

.header-img-notuser {
  margin-top: 10px;
}

.patient-grid {
  margin-top: 60px;
}
